* {
    padding: 0;
    margin: 0;
}

.radius2 {
    border-radius: 2px;
}

.withe {
    color: #fff;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.ft10 {
    font-size: 10px;
}

.ft12 {
    font-size: 12px;
}

.ft14 {
    font-size: 14px;
}

.ft16 {
    font-size: 16px;
}

.ft18 {
    font-size: 18px;
}

.ft20 {
    font-size: 20px;
}