* {
    padding: 0;
    margin: 0;
}

.radius2 {
    border-radius: 2px;
}

.withe {
    color: #fff;
}

.bg-withe {
    background: #fff;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.ft10 {
    font-size: 10px;
}

.ft12 {
    font-size: 12px;
}

.ft14 {
    font-size: 14px;
}

.ft16 {
    font-size: 16px;
}

.ft18 {
    font-size: 18px;
}

.ft20 {
    font-size: 20px;
}

.mar20-top {
    margin-top: 20px;
}

.mar20-bottom {
    margin-bottom: 20px;
}

.mar10-right {
    margin-right: 10px;
}

.mar15-right {
    margin-right: 15px;
}

.mar20-right {
    margin-right: 20px;
}

.col-10 {
    color: #101010
}

.col-e72 {
    color: #e72235;
}